

.div__MainCard{

display: flex;
flex-direction: column;
justify-content: space-between;
width:200px;
border-radius: 25px;
position: relative;
padding: 25px 15px;
background-color: #81ecec;
margin: 50px 0;
height: 300px;
box-shadow: 0 2px 5px #ccc;
text-align: left;

}

